:root {
  --bg-page: #113753;
  --bg-btn: #05b4ee;
  --bg-column: #d9def9;

  --column-inline-size: 400px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.btn {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  font-weight: bold;
}

.App {
  min-block-size: 100vh;
  background-color: var(--bg-page);
  padding: 2rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2rem;
  overflow: auto;
}

.btn-add-column {
  margin-block-start: 1rem;
  background-color: var(--bg-btn);
  border-radius: 50%;

  inline-size: 50px;
  block-size: 50px;

  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
